<!-- start: Page Title -->
<div id="page-title">

  <div id="page-title-inner">

    <!-- start: Container -->
    <div class="container">

      <h2><i class="ico-stats ico-white"></i>About Us</h2>

    </div>
    <!-- end: Container  -->

  </div>  

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
      
  <!--start: Container -->
    <div class="container">

    <!--start: Row -->
      <div class="row">
  
      <div class="span8">
        
        <!-- start: About Us -->
        <div id="about">
          <div class="title"><h3>About Us</h3></div>
          <p>
           <span class="dropcap color">G</span> We are GroundZeroLabs, a team formed because we all share a common goal and that is to develop quality software.  We all love what
            we do and we hope to take what we do best and give back to the community.  That is the goal of GroundZeroLabs and we will continue
            to do so!  Thank you for your time.
          </p>
        </div>  
        <!-- end: About Us -->

        <!-- start: History -->
        <div id="history">
          <div class="title"><h3>History</h3></div>
            <span class="dropcap color">Z</span> We started in 2012 at my house while playing a good old game of Catan.  We all thought to ourself;
            "hey a lot of people want to be exposed and build something on the internet but don't have a Fuc*en clue on how to do it".  With that
            simple but rad thought, we formed a team solve that simple yet tough problem.  GroundZeroLabs started up in motivation of starting
            from the ground up and always being in the frontline.
          </p>
        </div>  
        <!-- end: History -->

        <!-- start: Team -->  
        <div id="team">
          
          <div class="title"><h3>GroundZeroLabs Team</h3></div>
          
          <!-- start: Row -->
          <div class="row span12">
          
          <%= render "quy" %>
          <%= render "phu" %>
          <%= render "mike" %>
          <%= render "jake" %>
          <%= render "tan" %>
          
          </div>
          <!-- end: Row -->

        </div>
        <!-- end: Team -->
        
      </div>  
      
      <div class="span4">
        
        <!-- start: Sidebar -->
        <div id="sidebar">

          <!-- start: Skills -->
               <div class="title"><h3>Our Skills</h3></div>
               <ul class="progress-bar">
                <li>
                    <h5>Web Design ( 80% )</h5>
                    <div class="meter"><span style="width: 80%"></span></div><!-- Edite width here -->
                  </li>
                  <li>
                    <h5>Web Development ( 90% )</h5>
                    <div class="meter"><span style="width: 90%"></span></div><!-- Edite width here -->
                  </li>
                  <li>
                    <h5>Branding ( 20% )</h5>
                    <div class="meter"><span style="width: 20%"></span></div><!-- Edite width here -->
                  </li>
                  <li>
                    <h5>Catan ( 100% )</h5>
                    <div class="meter"><span style="width: 100%"></span></div><!-- Edite width here -->
                  </li>
              </ul>
              <!-- end: Skills -->

        </div>
        <!-- end: Sidebar -->
        
      </div>
      
    </div>
    <!--end: Row-->

  </div>
  <!--end: Container-->

</div>
<!-- end: Wrapper  -->      
