<% content_for :main_slider do %>
  <!-- start: Slider -->
  <div class="slider-wrapper">

    <div id="da-slider" class="da-slider">
      <div class="da-slide">
        <h2>Twitter Bootstrap</h2>
        <p>We do not brew our CSS and Javascript from ground up. Portfoliolizer is built with the latest Twitter Bootstrap themes; so you are sure that it will be cross platform compatible and always up-to-date.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/twitter.png", alt: "twitter" %></div>
      </div>
      <div class="da-slide">
        <h2>Responsive Design</h2>
        <p>Why have a page that only works with certain screen resolution?  With Portfoliolizer we ensure responsive pages that can be viewed at any angle!</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/responsive.png", alt: "responsive" %></div>
      </div>
      <div class="da-slide">
        <h2>HTML5</h2>
        <p>Do you even understand what this mean?  If so; yes we use HTML5, the latest and greatest. Else; just think of HTML5 as the latest and greatest way to make your site!</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/html5.png", alt: "html5" %></div>
      </div>
      <div class="da-slide">
        <h2>CSS3</h2>
        <p>If you love to inline style everything then Portfoliolizer will surely disappoint you. For those who don't, we got you covered with flashy CSS.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/css3.png", alt: "css3" %></div>
      </div>
      <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
      </nav>
    </div>
  
  </div>
  <!-- end: Slider -->
<% end %>

<% content_for :feature_list do %>
  <!--start: Wrapper-->
  <div id="wrapper">
      
    <!--start: Container -->
      <div class="container">

          <!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
          <div class="hero-unit">
            <p>
              Your one stop shop for personalized Portfolio, Resumes, Cover Letters and everything you can think of!
            </p>
            <p><%= link_to "Get Started!", "#", class: "btn btn-large btn-success" %></p>
          </div>
      <!-- end: Hero Unit -->

          <!-- start: Row -->
          <div class="row">

            <div class="span4">
                <div class="icons-box">
            <i class="ico-ok circle big"></i>
            <div class="title"><h3>Easy to use</h3></div>
            <p>
              Decide on what you want to do, choose your template, fill in what you want shown and off you go!
            </p>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box">
            <i class="ico-ipad circle big"></i>
            <div class="title"><h3>Cutting Edge</h3></div>
            <p>
              The website will not look like a high school student's work or what you grandparents made 50 years ago; we promise!
            </p>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box">
            <i class="ico-heart circle big"></i>
            <div class="title"><h3>User friendly</h3></div>
            <p>
              We always put you first when we build stuff so of course it's user friendly!
            </p>
            <div class="clear"></div>
          </div>
            </div>

          </div>
      <!-- end: Row -->
        
      <hr>
  
      <!-- start Clients List  
      <div class="clients-carousel">
        <ul class="slides clients">
          <li><%= image_tag "logos/1.png", alt: "logos" %> </li>
          <li><%= image_tag "logos/2.png", alt: "logos" %> </li>
          <li><%= image_tag "logos/3.png", alt: "logos" %> </li>
          <li><%= image_tag "logos/4.png", alt: "logos" %> </li>
          <li><%= image_tag "logos/5.png", alt: "logos" %> </li>
          <li><%= image_tag "logos/6.png", alt: "logos" %> </li>
          <li><%= image_tag "logos/7.png", alt: "logos" %> </li>
          <li><%= image_tag "logos/8.png", alt: "logos" %> </li>
          <li><%= image_tag "logos/9.png", alt: "logos" %> </li>
          <li><%= image_tag "logos/10.png", alt: "logos" %></li>
        </ul>
  
      </div>
      end Clients List
  
      <hr> -->
    
      <!-- start: Row -->
      <div class="row">
      
        <!-- start: Icon Boxes -->
        <div class="icons-box-vert-container">

          <!-- start: Icon Box Start -->
          <div class="span6">
            <div class="icons-box-vert">
              <i class="ico-ok ico-color circle-color big"></i>
              <div class="icons-box-vert-info">
                <h3>Portfolio</h3>
                <p>Need a web page to show off what you done?</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!-- end: Icon Box-->

          <!-- start: Icon Box Start -->
          <div class="span6">
            <div class="icons-box-vert">
              <i class="ico-cup  ico-white circle-color-full big-color"></i>
              <div class="icons-box-vert-info">
                <h3>Resumes</h3>
                <p>Need a place where you can put your resumes and your skillset?</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!-- end: Icon Box -->

          <!-- start: Icon Box Start -->
          <div class="span6">
            <div class="icons-box-vert">
              <i class="ico-ipad ico-color circle-color big"></i>
              <div class="icons-box-vert-info">
                <h3>Business</h3>
                <p>Need to showcase your business; let it be a startup, restaurant or a lemonade stand.</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!-- end: Icon Box -->

          <!-- start: Icon Box Start -->
          <div class="span6">
            <div class="icons-box-vert">
              <i class="ico-thumbs-up  ico-white circle-color-full big-color"></i>
              <div class="icons-box-vert-info">
                <h3>Personal</h3>
                <p>Or do you just need a place to show people what you are having for lunch.</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!-- end: Icon Box -->

        </div>
        <!-- end: Icon Boxes -->
        <div class="clear"></div>
      </div>
      <!-- end: Row -->
    
      <hr>
    
    </div>
    <!--end: Container-->

  </div>
  <!-- end: Wrapper  -->      
<% end %>